@model PeopleViewModel
@{ 
    ViewData["Title"] = "Peples records";
}


<h1>Welcome to People's records</h1>

<row class="container-fluid">
    <form asp-controller="People" asp-action="Index" method="post">
        <span asp-validation-for="Person.Name"></span>
        <input asp-for="Person.Name" />
        <span asp-validation-for="Person.City"></span>
        <input asp-for="Person.City" />
        <span asp-validation-for="Person.PhoneNumber"></span>
        <input asp-for="Person.PhoneNumber" />
        <input type="submit" value="Add" >
    </form>
</row>

<form asp-action="Index" method="post">
    <label>Please enter your string to search</label>
    <input for="Search" />
    <input type="submit" value="Search">
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Phone number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in Model.People)
        {
            <tr>
                <td>@person.ID</td>
                <td>@person.Name</td>
                <td>@person.City</td>
                <td>@person.PhoneNumber</td>
                <td><a>Edit</a></td>
            </tr>
        }
    </tbody>
</table>

