@{
    ViewData["Title"] = "Welcome page";
}

<div class="bg-light bg-gradient p-5 rounded">
    <div class="display-4">
        <h1>Welcome to People's records managemant system</h1>
        <p>Normal user can create, search edit and delete person</p>
    </div>
</div>


