<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
   
</head>
<body>

    <ol class="nav bg-light bg-secondary">
        <li class="nav-item">
            <a class="nav-link" asp-controller="People" asp-action="Index"> People's data Assignment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Ajax" asp-action="Index"> Ajax Assignment</a>
        </li>
    </ol>
    <div class="row container">
        @RenderBody()
    </div>



    <script src="~/js/JavaScript.js"></script>
</body>
</html>
