@model List<Person>

<div class="row container-fluid">
    <div class="col">
        <div class="row header-table">
            <div class="col">ID</div>
            <div class="col">Name</div>
            <div class="col">City</div>
            <div class="col">Phone number</div>
            <div class="col"></div>
            <br />
        </div>

        @foreach (Person person in Model)
        {
            <partial name="../People/_PartialPeopleView.cshtml" model="person" />
        }

    </div>
</div>

