html{
    background-color:white;
}
body {
    padding:30px;
    width:80%;
    margin:auto;
    background-color: lightgray;
    height:100vh;
    display:flex;
    justify-content:center
}

a{
    color:black;
}
a:hover{
    color:white;
}

table {
    width: 80%;
    margin: auto;
    /*table-layout: fixed;*/ /*keep column with same size*/
}
input{
    padding: 10px;

}